<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

		<link type="text/css" rel="stylesheet" href="/assets/codemirror/lib/codemirror.css">
		<script type="text/javascript" src="/assets/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="/assets/codemirror/mode/javascript/javascript.js"></script>
		<!--previous file for codemirror instance <script type="text/javascript" src="/assets/cm.js"></script>-->
		<script type="text/javascript" src="/assets/main.js"></script>

		<script type="text/javascript" src="/assets/lock.js"></script>
		<script type="text/javascript" src="/assets/post.js"></script>
		<!-- previous trigger file <script type="text/javascript" src="/assets/triggers.js"></script>-->
	</head>
	<body>
		<div id="title">
			<h1> </h1>
		</div>
		<div id="description">
			<p><%= data.description%></p>
		</div>
		<div id="status_bar">
		</div>
		<div class "row">
			<div id="code_space" class="column">
				<h2>Live Code Window</h2>
				<textarea id="up_code" cols="80" rows="10"><%=data.code%></textarea>
			</div>
			<div id="examples_space" class="column">
				<h2>PBE (Programming By Example) Window</h2>
				<textarea id="up_examples" cols="80" rows="10"><%=data.examples%></textarea>
			</div>
		</div>
</html>
