<!DOCTYPE html>
<html>
	<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<link type="text/css" rel="stylesheet" href="/assets/codemirror/lib/codemirror.css">
		<script type="text/javascript" src="/assets/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="/assets/codemirror/mode/javascript/javascript.js"></script>
		<!--previous file for codemirror instance <script type="text/javascript" src="/assets/cm.js"></script>-->
		<script type="text/javascript" src="/assets/main.js"></script>

		<script type="text/javascript" src="/assets/lock.js"></script>
		<script type="text/javascript" src="/assets/post.js"></script>
		<!-- previous trigger file <script type="text/javascript" src="/assets/triggers.js"></script>-->
	</head>
	<body>
		<div id="title">
			<h1> Welcome to Live Coding Interface </h1>
		</div>
		<div id="description">
			<p> </p>
		</div>
		<div id="status_bar"><div>
			<div id="code_space" class="split left">
				<textarea id="up_code" cols="80" rows="10"></textarea>
			</div>
			<div id="examples_space" class="split right">
				<textarea id="up_examples" cols="80" rows="10"></textarea>
			</div>


	</body>
</html>
