<!DOCTYPE html>
<html>
	<head>
		<!--<link href="/assets/styles.css" rel="stylesheet" type="text/css" />-->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		<link rel="stylesheet" href="/assets/codemirror/lib/codemirror.css">
		<script type="text/javascript" src="/assets/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="/assets/codemirror/mode/javascript/javascript.js"></script>
		<script type="text/javascript" src="/assets/cm.js"></script>
	</head>
	<body>
		<h1> Welcome to Live Coding Interface </h1>
		<p> In the left text-box you can enter javascript code. In the right text-box you can enter javascript examples. </p>
		<form id="user program" method="POST" action="/testing">
			<label for="up_code">Program Code</label>
			<textarea id="up_code" cols="80" rows="10"><%=up.code%></textarea>
			<label for="up_examples">Program Examples</label>
			<textarea name="up_examples" cols="80" rows="10"><%=up.examples%></textarea>
			<input type=submit value="update"/>
		</form>
		<p> <%=up.pbeStatus%> </p>
	</body>
</html>
